@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-image: url('/bg.jpg');
  background-repeat: repeat;
  background-attachment: fixed; 
  background-size: 300px 300px;
  background-color: #0c0a09; 
  color: #000d1b;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #00000030;
}
::-webkit-scrollbar-thumb {
  background: #ffffff40;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff60;
}

@keyframes scroll-rtl {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}